
:root {
	--font-size-base: 18px; /* Define your base font size */
	--sidebar-width: 18rem; 
}

html {
	font-family: 'Lunasima', sans-serif;
	font-weight: 300;
	font-size: var(--font-size-base);
}

 .sidebar {
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	font-size: var(--font-size-base);
 }

 .sidebar-about img {
	display: block; /* Ensure the image is treated as a block element */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 1px; /* Use a border-radius that creates rounded corners, making the image square */
	box-shadow: rgba(191, 124, 99, 0.4) 5px 5px, rgba(191, 124, 99, 0.3) 10px 10px, rgba(191, 124, 99, 0.2) 15px 15px, rgba(191, 124, 99, 0.1) 20px 20px, rgba(191, 124, 99, 0.05) 25px 25px;
	height: 210px;
	width: 172px;
}

.sidebar-about h1 {
	padding-top: 5px;
	color: var(--sidebar-h1-color);
	margin-top: 0.2em;
	font-weight: 300;
	font-size: 1.35em;
	font-family: 'Lunasima', sans-serif;
}

.sidebar-about p {
	font-size: 0.95rem;
	font-weight: 300;
	font-family: 'Lunasima', sans-serif;
	margin-bottom: 0rem;
}

.sub-heading {
	font-size: 0.9375rem; /* Converted from 15px */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.social {
    margin-left: 0.75em;
    text-decoration: none !important;
    color: var(--sidebar-socials-color) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}